$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #e1112c;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$white-color: #fff;
$dark-color: #343a40;

$break-small: 768px;
$break-large: 1024px;
