<div class="container">
  <h1>Pedidos</h1>

  <div class="mt-4">
    <div class="form">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Pedido</th>

              <th>Valor</th>

              <th>Cliente</th>

              <!-- <th class="text-center">Editar</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders$ | async">
              <td>{{ order.id }}</td>

              <td>{{ order.valor_total }}</td>

              <td>{{ order.cliente }}</td>

              <!-- <td class="text-center">
                <a [routerLink]="['category', order.id, 'edit']">
                  <img
                    src="../../../../assets/images/edit.svg"
                    alt="editar registro"
                    height="20"
                  />
                </a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
