<div class="container">
  <h1>Pedidos</h1>

  <div class="mt-4">
    <div class="form">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>Pedido</th>

              <th>Valor</th>

              <th>Cliente</th>

              <th class="text-center">Detalhes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders$ | async">
              <td>{{ order.id }}</td>

              <td>{{ order.totalPrice }}</td>

              <td>{{ order.user }}</td>

              <td class="text-center"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
