<div class="container">
  <h1>Novo produto</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="input-title">Nome</label>

    <input
      type="text"
      class="form-control"
      formControlName="nome"
      placeholder="Ex: Batata frita"
      autofocus
    />

    <label class="input-title">Descrição</label>

    <input
      type="text"
      class="form-control"
      formControlName="descricao"
      placeholder="Acomapanha queijo e bacon"
    />

    <label class="input-title">Categoria</label>

    <select class="custom-select" formControlName="categoria">
      <option hidden selected>Selecionar</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.nome }}
      </option>
    </select>

    <btn
      class="btn-success btn-lg bold mr-2"
      type="submit"
      label="Criar produto"
    >
    </btn>

    <btn
      class="btn-secondary btn-lg bold"
      type="button"
      label="Voltar"
      routerLink="/products"
    ></btn>
  </form>
</div>
