<div class="flex"> 
  <div class="login">
    <div class="login-form">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
       <p class="login-welcome">Bem vindo(a) de volta</p>

        <input type="text" class="form-control" formControlName="username" placeholder="E-mail" autofocus>

        <input type="password" class="form-control" formControlName="password" placeholder="Senha">

        <btn class="btn-danger btn-block btn-lg bold" type="submit" label="Acessar sua conta"></btn>
      </form>
  </div>

    <p class="form-create center bold">
      <span>Não tem uma conta ainda? </span>
        
      <a href="#" class="form-create-link">Cadastre-se</a>
    </p>
  </div>
</div>