@import '../../../assets/scss/variables';

/* Formulário */

.flex {
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-image: url('../../../assets/images/bg-login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  width: 100%;

}

.login {
  width: 400px;
}

.login-welcome {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.login-form {
  width: 100%;
  box-shadow: 4px 4px 44px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background-color: $light-color;
  border-radius: 4px;
}

/* Inputs */
.form-control {
  width: 100%;
  font-size: 14px;
  letter-spacing: 1px;
  height: 40px;
  padding: 13px 20px;
  border: 1px solid #e5edef;
  transition: .3s;
  border-radius: 4px;
  margin: 2px 6px 16px 0;
}

/* Logo no formulário */
.img-logo {
  margin-bottom: 2rem;
}

/* Texto para criar conta */
.form-create {
  margin: 2rem 0;
}

.form-create-link {
  color: $danger-color;
  text-decoration: none;
}

@media (max-width: $break-small) {
  .login-form {
    padding: 10px;
    box-shadow: none;
  }
}