<div class="container">
  <h1>Editar categoria</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <label class="input-title">Nome</label>

    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Ex: Batata frita"
      autofocus
    />

    <label class="input-title">Descrição</label>

    <input
      type="text"
      class="form-control"
      formControlName="description"
      placeholder="Acomapanha queijo e bacon"
    />

    <btn
      class="btn-success btn-lg bold mr-2"
      type="submit"
      label="Salvar categoria"
    >
    </btn>

    <btn
      class="btn-secondary btn-lg bold"
      type="button"
      label="Voltar"
      routerLink="/category"
    ></btn>
  </form>
</div>
