@import './assets/scss/grid.scss';

html {
  font-family: sans-serif;
  color: #555d66;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}
