@import './assets/scss/grid.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #555d66;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center !important;
}
