@import './assets/scss/grid.scss';

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-family: sans-serif;
  color: #555d66;
  font-size: 14px;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}