<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let category of categories">
        <h1>{{ category.nome }}</h1>

        <div class="row">
          <ng-container *ngFor="let product of products">
            <div
              class="col-12 col-sm-6 col-md-4"
              *ngIf="category.id === product.categoria_id"
            >
              <div class="card" (click)="selectItem(product)">
                <img
                  class="card-image"
                  [src]="product.imagem"
                  alt="item.descricao"
                />

                <div class="card-content">
                  <h1 class="card-title">{{ product.nome }}</h1>

                  <p class="card-description">{{ product.descricao }}</p>

                  <span class="card-price">R${{ product.preco | price }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="order">
        <div class="order-title">Pedido</div>

        <div
          class="order-item"
          *ngFor="let selected of selectedItems; index as i"
        >
          {{ selected.nome }} x R${{ selected.preco | price }}

          <h5 (click)="removeItem(i)">Remover item</h5>
        </div>

        <div class="order-total" *ngIf="totalPay > 0">
          <h2 class="order-price">Valor total</h2>

          <h2 *ngIf="totalPay">R${{ totalPay | price }}</h2>
        </div>

        <btn
          *ngIf="selectedItems.length"
          class="btn-danger btn-lg btn-block bold"
          label="Finalizar pedido"
          (onClick)="finishOrder()"
        ></btn>
      </div>
    </div>
  </div>
</div>
