@import '../../../../assets/scss/variables';

.navbar {
  background-color: #ea1d2c;
  color: #fff;
  display: flex;
  padding: 1rem;
  position: sticky;
  font-size: 1.1rem;
  z-index: 1;
}

.loading {
  margin-top: 0.7rem;
}

@media (max-width: $break-small) {
  .navbar {
    top: 0;
  }
  .loading {
    margin-top: 1rem;
  }
}

a {
  text-decoration: none;
  color: currentColor;
}

.navbar-brand {
  display: inherit;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-right {
  margin-left: auto;
  display: inherit;
  align-items: center;
  margin-right: 1rem;
}

.navbar-right-item {
  margin-left: 2rem;
  cursor: pointer;
}
